.resume-aside-two {
    width: 36%;
    min-height: 400px;
    padding-top: 50px;
    background-color: #CFD0D5;
}

.resume-aside-two h2 {
    font-size: 20px;
    text-transform: uppercase;
}

.resume-aside-two header {
    width: 100%;
    padding: 40px 0;
    background-color: #272A31;
    text-align: center;
}

.resume-aside-two header img {
    width: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.resume-aside-two address {
    font-size: 14px;
    font-style: normal;
}

.resume-aside-two__body {
    padding: 40px 20px 6px 30px;
}

.resume-aside-two__section {
    margin-bottom: 30px;
}