/* Type
   ========================================================================== */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 0 0 10px;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.6;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
  list-style-position: inside;
}

li {
    margin-bottom: 5px;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.6;
}